.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #e7e9eb;
    color: black;
    justify-content: space-around;
    padding: 10px 0;
}

.header-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-button {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lgn-btn {
    width: 100px;
}

.cart-search {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-search form {
    height: 40px;
}


